<header>
    <section>
        <h1 class="text-shadow"> -- HABIT TRACKER-- </h1>
        <div class="tags">
            <p class="text-shadow"><small>project with coding Ninja </small></p>
        </div>
    </section>
</header>